[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
werkzeug = "*"
rzd-api = "*"
cbrapi = "*"
flask-babel = "*"
fpdf2 = "*"

[dev-packages]

[requires]
python_version = "3.13"
